.myback{
    background: linear-gradient(to bottom right, #33ccff 0%, #ff66ff 100%) ;
    height: 100%;
    background-attachment: fixed; 


}

.myback2{


    background:linear-gradient(to top right, #33ccff 0%, #99ff99 100%);
}

.myback_warning{
    background:linear-gradient(to top right, #ff9900 0%, #ffff00 75%);


}

